<h1><%= @recipe_type.name %></h1>
<h3>Detalhes</h3>
<p><%= @recipe_type.created_at %></p>
<p><%= @recipe_type.updated_at %></p>

<%= link_to 'Editar', edit_recipe_type_path(@recipe_type) %>
<%= link_to 'Voltar', root_path %>
